    /****   GLOBAL  ****/
    
    .hidden {
        display: none;
    }
    
    .container {
        max-width: 1152px;
        width: 90%;
        margin: 0 auto;
    }
    /****   HOME    ****/
    
    .welcome {
        font-size: 34px;
        text-align: center;
        margin: 30px auto;
    }
    /*****  HEADER  *****/
    
    header nav>ul {
        display: flex;
        flex-direction: row-reverse;
        height: 100px;
        background: #f1f1f1;
        justify-content: right;
        -webkit-padding-start: 0;
        list-style-type: none;
    }
    
    header nav>ul>li {
        align-self: center;
        cursor: pointer;
        width: auto;
    }
    
    header nav>ul>li a {
        color: #5e3b35;
        font-size: 20px;
        padding: 40px;
        text-decoration: none;
        line-height: 1;
        text-align: center;
    }
    
    .login-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }
    
    .login-links a {
        display: block;
        padding: 15px 40px;
        line-height: 1;
        height: 50px;
    }
    
    header nav>ul>li a:hover {
        background: #e3e3e3;
    }
    
    .login-links a+a {
        border-top: 1px solid #7f7f7f;
    }
    
    @media screen and (max-width: 520px) {
        /* adjust nav li width */
        header nav>ul {
            justify-content: center;
        }
        header nav>ul>li {
            max-width: 34%;
            width: 32%;
        }
        header nav>ul>li+li {
            width: 34%;
        }
        header nav>ul>li a {
            white-space: nowrap;
            height: 100px;
            width: 100%;
            padding: 40px 0;
            display: block;
        }
    }
    /****   LOGIN/LOGOUT MODAL  ****/
    
    .ReactModal__Content {
        width: 50%;
    }
    
    .ReactModal__Content p {
        font-size: 26px;
        margin: 20px auto;
        text-align: center;
    }
    
    .ReactModal__Content form {
        width: 60%;
        margin: 0 auto;
    }
    
    .ReactModal__Content form .form-group {
        display: flex;
        flex-direction: row;
        margin: 15px 0;
        position: relative;
    }
    
    .ReactModal__Content form .form-group label {
        padding: 20px 0;
        font-size: 24px;
        width: 70px;
        text-align: center;
        border: 1px solid rgb(204, 204, 204);
        border-right: none;
    }
    
    .ReactModal__Content form .form-group input {
        flex: 1 1 auto;
        font-size: 24px;
        padding: 20px;
    }
    
    .ReactModal__Content form .form-group .validation {
        position: absolute;
        font-size: 12px;
        top: 5px;
        left: 90px;
        color: crimson;
    }
    
    .ReactModal__Content form .form-group .required {
        position: absolute;
        top: 1px;
        right: 3px;
        color: crimson;
    }
    
    .ReactModal__Content form .form-group .validation+input {
        border: 1px solid crimson;
    }
    
    .ReactModal__Content button,
    form button {
        font-size: 24px;
        padding: 20px;
        border: 1px solid green;
        border-radius: 20px;
        background: limegreen;
        color: white;
        margin: 20px 0;
    }
    
    .ReactModal__Content button.logout {
        display: block;
        margin: 20px auto;
        background: orangered;
        border-color: firebrick;
    }
    
    @media screen and (max-width: 1365px) {
        .ReactModal__Content {
            width: 80%;
        }
    }
    
    @media screen and (max-width: 952px) {
        .ReactModal__Content form {
            width: 90%;
        }
    }
    
    @media screen and (max-width: 642px) {
        .ReactModal__Content button,
        form button,
        .ReactModal__Content form .form-group label,
        .ReactModal__Content form .form-group input,
        .ReactModal__Content p {
            font-size: 20px;
        }
        .ReactModal__Content form .form-group .validation {
            font-size: 10px;
        }
    }
    
    @media screen and (max-width: 500px) {
        .ReactModal__Content {
            width: 95%;
        }
        .ReactModal__Content form,
        .ReactModal__Content p {
            width: 95%;
        }
    }
    /****   ALL POLLS   ****/
    
    .polls-list-section {
        margin: 30px 0;
    }
    
    .polls-list-section ul {
        width: 100%;
        list-style-type: none;
        font-size: 24px;
        border: 1px solid green;
    }
    
    .polls-list-section ul li {
        padding: 40px 40px;
    }
    
    .polls-list-section ul li a {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }
    
    .polls-list-section ul li:nth-of-type(odd) {
        background-color: coral;
    }
    
    .polls-list-section ul li:nth-of-type(even) {
        background-color: darkturquoise;
    }
    
    .polls-list-section ul li+li {
        border-top: 1px solid green;
    }
    
    .polls-list-section ul li:hover {
        background: rgba(0, 0, 0, .21);
        text-decoration: underline;
        color: #f3f3f3;
    }
    
    .polls-list-section>p {
        font-size: 20px;
        text-align: center;
    }
    
    @media screen and (max-width: 520px) {
        .polls-list-section {
            margin-top: 0;
        }
    }
    /****   SINGLE POLL ****/
    
    .poll {
        margin: 40px auto;
    }
    
    .poll-title {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin: 0 auto;
    }
    
    .poll .poll-container {
        margin: 30px auto;
        width: 90%;
        border: 1px solid green;
        padding: 30px 0;
    }
    
    .poll .poll-container hr {
        margin: 30px auto;
        width: 90%;
    }
    
    .poll .input-group {
        font-size: 20px;
        padding: 20px 10px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .poll .input-group:nth-of-type(even) {
        background: rgba(0, 0, 0, .11)
    }
    
    .poll .input-group:nth-of-type(odd) {
        background: rgba(0, 0, 0, .05)
    }
    
    .poll .input-group.checked {
        background: aquamarine;
    }
    
    .poll form button {
        margin: 40px 0 0 10%;
    }
    
    .poll .poll-visualization {
        position: relative;
        height: 90%;
        width: 90%;
        margin: 0 auto;
    }
    
    .poll .option-display-group {
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
        padding: 20px 0;
        text-align: center;
        display: none;
    }
    
    .poll .no-data {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    
    @media screen and (max-width: 520px) {
        main .container {
            width: 100%;
        }
        .poll .poll-container {
            border: none;
            width: 100%;
        }
    }
    
    @media screen and (max-width: 400px) {
        .poll .poll-visualization {
            width: 100%;
            height: 100%;
        }
    }
    /****   USER PORTAL ****/
    
    .portal-section .user-options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: lightcyan;
        border: 1px solid lightskyblue;
        height: 50px;
    }
    
    .portal-section .user-options a,
    .portal-section .user-options .input-group {
        height: 50px;
        box-sizing: border-box;
        border: none;
        font-size: 20px;
        flex: 1 1 auto;
    }
    
    .portal-section .user-options .input-group {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
    }
    
    .portal-section .user-options .input-group label {
        padding: 15px 3px 15px 15px;
        border-right: 1px solid lightskyblue;
        height: 48px;
    }
    
    .portal-section .user-options .input-group input {
        padding: 0 15px;
        flex: 1 1 auto;
        height: 48px;
    }
    
    .portal-section .user-options .input-group button {
        background: rgba(255, 255, 255, 0.30);
        border: none;
        padding: 0 15px;
        height: 48px;
    }
    
    .portal-section .user-options a button {
        width: 100%;
        height: 50px;
        border: none;
        margin: 0 auto;
        text-align: center;
        background: transparent;
    }
    
    .portal-section .user-options .input-group button:hover,
    .portal-section .user-options a:hover {
        background: rgba(0, 0, 0, .07);
        cursor: pointer;
        pointer-events: auto;
    }
    
    .portal-section .user-options .input-group button:focus,
    .portal-section .user-options a:focus {
        outline: none;
    }
    
    .user-id {
        margin: 30px 0;
        font-size: 20px;
    }
    
    .user-id .display-id {
        color: cadetblue;
        font-weight: bold;
    }
    
    @media screen and (max-width: 644px) {
        .portal-section .user-options a,
        .portal-section .user-options .input-group {
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 520px) {
        .portal-section .user-options {
            flex-wrap: wrap;
            justify-content: center;
            height: 100px;
        }
        .portal-section .user-options a {
            width: 50%;
        }
        .portal-section .user-options a button {
            margin: 0;
            margin-left: 22.5%;
            text-align: left;
        }
        .user-id,
        .no-match,
        .welcome {
            font-size: 16px;
            width: 90%;
            margin: 30px auto;
        }
    }
    /*****  POLL EDITOR *****/
    
    .poll-editor {
        width: 90%;
        margin: 30px auto;
    }
    
    .poll-editor .title-input-group,
    .poll-editor .option-inputs .option-input-group {
        font-size: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 20px 0;
    }
    
    .poll-editor .title-input-group label,
    .poll-editor .option-inputs .option-input-group label,
    .poll-editor .option-inputs .option-input-group button,
    .poll-editor .title-input-group button {
        padding: 15px;
        font-weight: bold;
    }
    
    .poll-editor .title-input-group label,
    .poll-editor .option-inputs .option-input-group label {
        text-align: right;
        width: 100px;
        white-space: nowrap;
    }
    
    .poll-editor .title-input-group input,
    .poll-editor .option-inputs .option-input-group input {
        flex: 1;
        padding: 15px;
    }
    
    .poll-controls {
        display: flex;
        flex-wrap: wrap;
    }
    
    .poll-controls button {
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        margin: 15px;
        padding: 15px;
        width: 170px;
    }
    
    .poll-editor .option-inputs {
        width: 100%;
        margin: 20px 0;
    }
    
    .save-button {
        background: lime;
        border-color: forestgreen;
        color: forestgreen;
    }
    
    .delete-button {
        background: lightcoral;
        border-color: darkred;
        color: darkred;
    }
    
    .clear-button {
        background: whitesmoke;
        border-color: chocolate;
        color: chocolate;
    }
    
    .add-button {
        background: plum;
        color: darkmagenta;
        border-color: darkmagenta;
    }
    
    @media screen and (max-width: 500px) {
        .poll-editor .title-input-group,
        .poll-editor .option-inputs .option-input-group {
            font-size: 16px;
            margin: 10px 0;
        }
        .poll-editor .title-input-group label,
        .poll-editor .option-inputs .option-input-group label {
            width: 84px;
        }
        .poll-controls button {
            width: 140px;
            margin: 5px;
            font-size: 16px;
        }
    }
    /****   SOCIAL MEDIA  ****/
    
    .tweet-container {
        display: block;
        position: relative;
        height: 60px;
        width: 250px;
        margin: 0 auto;
        text-decoration: none;
        cursor: pointer;
        pointer-events: auto;
    }
    
    .tweet-svg {
        margin-top: -38px;
        margin-left: calc(3.5%);
    }
    
    .twitter-outline,
    .twitter-icon {
        transition: 300ms all;
        transform-origin: 50% 50%;
    }
    
    .tweet-container:hover .twitter-outline {
        transform: scale(0);
    }
    
    .tweet-container:hover .twitter-icon {
        transform: scale(3);
        stroke: #4099ff;
        opacity: 0;
    }
    
    .tweet-cta {
        color: #4099ff;
        position: absolute;
        font-size: 20px;
        margin-left: 120px;
        top: 39px;
    }